<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock title%}</title>
</head>
<body>



{% if user.is_authenticated %}
        Здравствуй,{{user}}


 <p> <a href="{% url 'logout' %}"> Выйти </a> </p>

 <p> <a href="{% url 'subscribe_create' %}"> Подписаться </a> </p>

{% else %}

 <p> <a href="{% url 'login'%}?next= {{request.path}}"> Зарегистрироваться </a> </p>

 <p> <a href="{% url 'login'%}?next= {{request.path}}"> Войти </a> </p>


{% endif %}


{% block content%}

{% endblock content%}


</body>
</html>