{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock title%}</title>
</head>
<body>


<div class="container-fluid">

    <div class="row">

    </div>

    <div class="row blog-nav">

        {% if user.is_authenticated %}

             <div class="col-md-4 col-md-offset-1 ">

                <p class="text-left"> Ну здравствуй мой дорогой друг, {{user}}</p>

             </div>

             <div class="col-md-4">

                 <p class="text-left "> Если не можешь это читать, то можешь  <a href="{% url 'logout' %}">  выйти </a> </p>

             </div>


             <div class="col-md-3">


                 {% if not subscribe_id %}

                     <p class="text-left"> или <a href="{% url 'subscribe_create' %}"> подписаться </a> </p>

                 {% else %}


                      <p class="text-left"> или <a href="{% url 'subscribe_delete' subscribe_id %}"> отписаться </a> </p>

                 {% endif %}

             </div>


        {% else %}

             <div class="col-md-2 col-md-offset-1">

                 <p class="text-left"> <a href="{% url 'registration_view' %}"> Зарегистрироваться </a> </p>

             </div>

             <div class="col-md-2 ">

                 <p class="text-left"> <a href="{% url 'login'%}?next= {{request.path}}"> Войти </a> </p>

             </div>

        {% endif %}

        </div>

    </div>
</div>


   <p></p>
   <p></p>


 <link rel="stylesheet" type="text/css" href="{% static 'blog_app/css/blog.css'%}"/>

 <link rel="stylesheet" type="text/css" href="{% static 'blog_app/css/bootstrap.min.css'%}"/>

 <link rel="stylesheet" type="text/css" href="{% static 'blog_app/css/bootstrap-theme.min.css'%}"/>

 <link rel="stylesheet" type="text/css" href="{% static 'blog_app/css/bootstrap-theme.min.css'%}" />



 <div class="row">

     <div class="col-md-8 col-md-offset-1">

            {% block content%}

            {% endblock content%}


     </div>

     <div class="col-md-3 col-md-offset-0 right-sidebar">


     </div>

 </div>

</body>
</html>