{% extends "blog_app/base.html" %}

 {% block content %}

{% if user.is_authenticated %}

    {% if not subscribe_id %}

        <p> <a href="{% url 'subscribe_create' %}"> Подписаться на новые сообщения </a> </p>

    {% else %}

        <p> <a href="{% url 'subscribe_delete' subscribe_id %}"> Отписаться от новых сообщений</a> </p>

    {% endif %}

{% endif %}

<ul>

    {% for post in posts %}


       <li>

           <p> {{post.post_title}} </p>

            <p>{{post.post_text }}</p>


            {% if post.post_image%}

                 <p> <img src="{{ post.post_image.url}} ">  </p>



            {%endif%}

            <p><a href="{% url 'post_detail' post.id  %}"> Подробнее.. </a> </p>

       </li>
    {% endfor %}

</ul>
 {% endblock content %}