{% extends "blog_app/base.html" %}

              {% block title%}

                        {{post.post_title}}

                {% endblock title%}

                 {% block content %}

<div class="container-fluid">



               <h2 class="blog-post-title">{{post.post_title}}</h2>

                        <p class="blog-post-detail-text">{{post.post_text }}</p>



                 <u>  <h4>Отзывы и предложения:</h4></u>

                {% for comment in comments %}


                    <p>{{comment.comment_text}}</p>

                    <p>Автор: {{comment.comment_author}} Дата публикации: {{comment.comment_date}}</p>

                   <p></p>


                {% empty%}

                <p> Нет ни одного-одинешенького отзыва или предложения :(</p>

                   <p><a href="{% url 'comments_list' post.id   %}"> Но ты можешь его сделать!!! </a></p>


                {% endfor%}

                 {% if comments%}

                        <p><a href="{% url 'comments_list' post.id   %}"> Читать все отзывы и предложения </a></p>

                {% endif %}




</div>

{% endblock content %}