{% extends "blog_app/base.html" %}

 {% block content %}



<div class="container-fluid">



<!--<ul> -->

    {% for post in posts %}



            <!--    <li>-->

                    <h2 class="blog-post-title">{{post.post_title}}</h2>



                    <p class="blog-post-list-text">{{post.post_text|truncatewords:40}}</p>



                    {% if post.post_image%}

                         <p> <img src="{{ post.post_image.url}} ">  </p>

                    {%endif%}



                        <p><a href="{% url 'post_detail' post.id  %}"> Подробнее.. </a> </p>
               <!--   </li>-->


    {% endfor %}

<!-- </ul>-->

</div>

 {% endblock content %}